<div class="container">
    <div class="row">
      <h3>Create New Company</h3>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
<form>
  <div class="form-group row">
    <label for="CompanyName" class="col-sm-2 col-form-label"
      >Company Name</label
    >
    <div class="col-sm-10">
      <input class="form-control" id="CompanyName" />
    </div>
  </div>
  <div class="form-group row">
    <label for="NameAndMember" class="col-sm-2 col-form-label"
      >CEO Name & Board Members</label
    >
    <div class="col-sm-10">
      <input class="form-control" id="NameAndMember" />
    </div>
  </div>
  <div class="form-group row">
    <label for="TurnOver" class="col-sm-2 col-form-label">TurnOver</label>
    <div class="col-sm-10">
      <input class="form-control" id="TurnOver" />
    </div>
  </div>
  <div class="form-group row">
    <label for="TurnOver" class="col-sm-2 col-form-label"
      >Brief Description</label
    >
    <div class="col-sm-10">
      <input class="form-control" id="desc" />
    </div>
  </div>
  <div class="form-group row">
    <label for="IPODate" class="col-sm-2 col-form-label">IPO date</label>
    <div class="col-sm-10">
      <input class="form-control" id="IPODate" />
    </div>
  </div>
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="form-group row">
    <div class="col-sm-5">
      &nbsp;
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
  </div>
</form>
