<div class="container">
    <div class="row">
      <h3>Import Excel</h3>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" />
      <label
        class="custom-file-label"
        for="inputGroupFile02"
        aria-describedby="inputGroupFileAddon02"
        >Choose file</label
      >
    </div>
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
    </div>
  </div>
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"><a href="/">Click Here to download sample Excel file</a></div>
    </div>
  </div>
  