<div class="container">
  <div class="row">
    <h3>List of Companies</h3>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</div>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Company1</td>
      <td>BSE,NSE</td>
      <td>
        <button type="button" class="btn btn-light">Edit</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Company2</td>
      <td>NSE</td>
      <td>
        <button type="button" class="btn btn-light">Edit</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Company3</td>
      <td>BSE</td>
      <td>
        <button type="button" class="btn btn-light">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="form-group row">
    <div class="col-sm-9">
        <a href="">Other Company</a>
    </div>
    <div class="col-sm-3">
      <button type="submit" (click)="NewCompany()" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
